[Unit]
Description=Twin Script Service
After=default.target sound.target graphical-session.target
Wants=sound.target graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env bash -c 'source /home/andy/scripts/twin/venv/bin/activate && python /home/andy/scripts/twin/main.py --source pulse -e --local-embed 192.168.1.42 --local-inference 192.168.1.42 --store-ip 192.168.1.42 --silent'
WorkingDirectory=/home/andy/scripts/twin
EnvironmentFile=/home/andy/.config/systemd/user/twin.env
Environment="GPT4O_API_KEY=${OPENAI_API_KEY}"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
