[Unit]
Description=Twin Script Service
After=default.target sound.target graphical-session.target
Wants=sound.target graphical-session.target

[Service]
Type=simple
ExecStart=/home/andy/venv/bin/python /media/mass/scripts/twin/main.py \
    --remote-inference http://192.168.1.40:11434/api/generate \
    --remote-transcribe http://192.168.1.40:8123 \
    --remote-store http://192.168.1.40:5050/vectorstore \
    --source 8
WorkingDirectory=/media/mass/scripts/twin
EnvironmentFile=/home/andy/.config/systemd/user/twin.env
Environment="OPENAI_API_KEY=${OPENAI_API_KEY}"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
